<%- include('../includes/header'); %>
<div class="container">
  <form action="update" method="post">
    <div class="mb-3">
    <label class="form-label pt-0" for="id">Id</label>
      <input
        class="form-control"
        id="id"
        name="id"
        type="text"
        value="<%=post[0].id%>"
        required
      />
      <label class="form-label pt-0" for="title">Title</label>
      <input
        class="form-control"
        id="title"
        name="title"
        type="text"
        value="<%=post[0].title%>"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label pt-0" for="content">Content</label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        rows="10"
        required
      ><%=post[0].content%></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label pt-0" for="category">Category</label>
      <select class="form-control" name="category_id" id="category_id" required>
        <% categories.forEach(category => { %>
            <option <%= post[0].category_id == category.id ? 'selected' : '' %> value="<%= category.id  %>"><%= category.name %></option>
        <% }); %>
      </select>
    </div>
    <div class="d-flex flex-row-reverse">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
<%- include('../includes/footer'); %>
