<%- include('../includes/header'); %>

<div class="container">
  <h2>All Post</h2>
  <li>
    <a class="btn btn-primary btn-sm" href="/posts/create">
      <span class="me-3"> Create Post</span></a
    >
    <a class="btn btn-primary btn-sm" href="/category/create">
      <span class="me-3"> Create Category</span></a
    >
  </li>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Category</th>
        <th>Content</th>
        <th>Author</th>
        <th>date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach(post => { %>
      <tr>
        <td><%= post.id%></td>
        <td><%= post.title %></td>
        <td><%= post.category %></td>
        <td><%= post.content %></td>
        <td><%= post.author %></td>
        <td><%= post.date %></td>
        <td>
          <a href="posts/edit?id=<%= post.id %>">
            <button class="btn btn-primary">Edit</button>
          </a>
          <a href="posts/delete?id=<%= post.id %>">
            <button class="btn btn-danger">Delete</button>
          </a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<script>
  $(document).on("submit", "#create-form", function () {
    event.preventDefault();
    var formData = new FormData();
    formData.append("title", $("input[name=title]").val());
    formData.append("content", $("input[name=content]").val());
    $.ajax({
      url: "/posts/store",
      type: "POST",
      data: formData,
      dataType: "json",
      contentType: false,
      processData: false,
      beforeSend: function () {
        $("button").attr("disabled", true);
      },
      success: function (response) {
        $("button").attr("disabled", false);
        $("#create-form").trigger("reset");
        formModal.hide();
      },
      error: function (reject) {
        $("button").attr("disabled", false);
        formModal.hide();
      },
    });
  });
</script>
<%- include('../includes/footer'); %>
